[url "ssh://git@bitbucket.com/"]
        insteadOf = https://bitbucket.com/

[url "ssh://git@bitbucket.org/"]
        insteadOf = https://bitbucket.org/

[user]
	email = risyad.aji@efishery.com
	name = Risyad Aji Dharmawan
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[pull]
	rebase = true
