[user]
	name = Risyad Aji Dharmawan
	email = ris.a.dharm@gmail.com


[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/

[url "ssh://git@bitbucket.com/"]
        insteadOf = https://bitbucket.com/

[url "ssh://git@bitbucket.org/"]
        insteadOf = https://bitbucket.org/


[pull]
	rebase = true
